* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    color: white;
}
body {
    background-size: cover;
    background-repeat: no-repeat;
}
.tile-selector [class^="background"] {
    background-size: cover;
    background-repeat: no-repeat;
}
#centered {
    width: 98%;
    height: 98%;
    margin: 1%;
    overflow: hidden;
}
.bigtext {
    font-family: 'Helvetica Neue', arial, sans-serif;
    width: 100%;
    background: transparent;
    border: none;
    outline: none !important;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}
#toolbox {
    position: fixed;
    opacity: 0;
    top: 10px;
    right: 10px;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
#toolbox.active,
#toolbox:hover {
    opacity: 1;
}
#toolbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px 0 0;
    display: inline-block;
}
#toolbox ul li {
    display: inline-block;
    height: 32px;
    background: white;
    border: 1px solid #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    vertical-align: top;
    margin-left: 2px;
}
#toolbox li a {
    display: inline-block;
    width: 32px;
    height: 100%;
    font-size: 21px;
    line-height: 32px;
    color: #333;
}
#toolbox .background-tiles li {
    height: 50px;
}
#toolbox .background-tiles li a {
    width: 50px;
    line-height: 50px;
}
.blue-color {
    background-color: #21445B;
}
.green-color {
    color: #5B6350;
    background-color: #aee1a4;
    background: -webkit-repeating-linear-gradient(-45deg, #aee1a4, #aee1a4 20px, #D8FAD2 20px, #D8FAD2 40px);
    background: -moz-repeating-linear-gradient(-45deg, #aee1a4, #aee1a4 20px, #D8FAD2 20px, #D8FAD2 40px);
    background: repeating-linear-gradient(-45deg, #aee1a4, #aee1a4 20px, #D8FAD2 20px, #D8FAD2 40px);
}
.light-color {
    color: #445353;
    background-color: #cbeee9;
    background:
        -moz-radial-gradient(#afcfcf 15%, transparent 16%),
        -moz-radial-gradient(#afcfcf 15%, transparent 16%),
        #cbeee9;
    background:
        -webkit-radial-gradient(#afcfcf 15%, transparent 16%),
        -webkit-radial-gradient(#afcfcf 15%, transparent 16%),
        #cbeee9;
    background:
        radial-gradient(#afcfcf 15%, transparent 16%),
        radial-gradient(#afcfcf 15%, transparent 16%),
        #cbeee9;
    background-position: 0 0, 80px 80px;
    
    -webkit-background-size:160px 160px;
    -moz-background-size:160px 160px;
    background-size:160px 160px;
}
.red-color {
    background-color: #b74f37;
    background: repeating-radial-gradient(circle, #b74f37, #b74f37 40px, #dd5c44 40px, #dd5c44 80px);
}
.purple-color {
    background-color: #9b59b6;
    color: #E7C4E6;
}
.orange-color {
    background-color: #cc7d38;
}
.dark-color {
    background-color: #0f0510;
    color: #ead8e7;
}
.brown-color {
    background-color: #6d695c;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
    color: white;
    background-repeat: repeat;
}

.background-1 {
    background-image: url("hip-1.jpg");
    color: #111313;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background-2 {
    background-image: url("hip-2.jpg");
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background-3 {
    background-image: url("hip-3.jpg");
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background-4 {
    background-image: url("hip-4.jpg");
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background-5 {
    background-image: url("hip-5.jpg");
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.background-6 {
    background-image: url("hip-6.jpg");
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.link-container {
    display: none;
}
.link-container.active {
    display: inline-block;
    border: none;
    outline: none !important;
    height: 25px;
    vertical-align: top;
    margin-left: 5px;
}
