---
layout: cv
title: CV - Stian Jensen

education: [
{
    "title": "NTNU",
    "subtitle": "Masters degree in computer science, w/ specialization in complex systems and machine learning.",
    "startDate": 2011,
    "endDate": "june 2016"
},
{
    "title": "Trondheim Katedralskole",
    "subtitle": "Secondary school, exact sciences",
    "startDate": 2009,
    "endDate": 2010
},
{
    "title": "Heimdal VGS",
    "subtitle": "Secondary school, exact sciences",
    "startDate": 2007,
    "endDate": 2009
}
]

work: [
{
    "title": "Hyre AS",
    "subtitle": "Software Engineer, co-founder.",
    "startDate": "08. 2017"
},
{
    "title": "Telenor Digital",
    "subtitle": "Software Engineer in the Strategic Engineering department. Focus on technology driven innovation.",
    "startDate": "08. 2016",
    "endDate": "08. 2017"
},
{
    "title": "Feat.fm (Music and concert streaming platform)",
    "subtitle": "Full-stack developer. Frontend, backend, real-time chat, rtmp/hls streaming server.",
    "startDate": "06. 2015",
    "endDate": "03. 2016"
},
{
    "title": "[Nordic Semiconductor (summer internship)](http://nordicsemiconductor.github.io/puck/)",
    "subtitle": "Developed an open source Bluetooth LE platform for mbed microcontrollers.",
    "startDate": "06. 2014",
    "endDate": "08. 2014"
},
{
    "title": "The Music Garden at Ringve Museum",
    "subtitle": "iPad app for showcasing Ringve Museums music catalog and instruments",
    "startDate": "05. 2012",
    "endDate": "07. 2013"
},
{
    "title": "[Panes Software ANS](http://panes.no/)",
    "subtitle": "Co-founder",
    "startDate": "02. 2011",
    "endDate": "03. 2016"
},
{
    "title": "Norges Bridgeforbund",
    "subtitle": "Computer setup and tournament scoring at the Norwegian Bridge Festival",
    "startDate": 2009,
    "endDate": 2013
},
{
    "title": "Civil conscription worker",
    "subtitle": "Ringve Music Museum",
    "startDate": 2010,
    "endDate": 2011
}
]

projects: [
{
    "title": "[What Are You Syncing About?](https://stianj.com/what-are-you-syncing-about/)",
    "subtitle": "WebGL and THREE.js demo created with Ninjadev's internal demo tool, nin. Fourth place at Revision 2017, the world's largest demoscene event.",
    "startDate": 2017
},
{
    "title": "[Music Video Dispenser](https://musicvideodispenser.com)",
    "subtitle": "An online YouTube music video generation service. It combines images with visualizations based on your music!",
    "startDate": 2017
},
{
    "title": "[Zombocam](https://zombocam.com)",
    "subtitle": "A browser extension that allows you to put filters and effects on your webcam. It works on every website that uses your webcam!",
    "startDate": 2016
},
{
    "title": "[Everything is Fashion](http://stianj.com/fashion/)",
    "subtitle": "WebGL and THREE.js demo created with Ninjadev's own tool, nin. Second place at Solskogen 2015.",
    "startDate": 2015
},
{
    "title": "[Bluetooth LE Course](https://bftj.github.io/)",
    "subtitle": "Intro course to Bluetooth LE and mbed microncontroller programming at NTNU and HIST.",
    "startDate": "2015"
},
{
    "title": "[Git Course](http://poetene.net/git/)",
    "subtitle": "Intro course to git for all computer students at NTNU. Held by a group of five students, in cooperation with Abakus.",
    "startDate": "2014 & 2015"
},
{
    "title": "[Inakuwa Oasis](http://arkt.is/inakuwa-oasis/)",
    "subtitle": "WebGL and THREE.js demo for Solskogen demo party 2014. Won first place in the combined compo.",
    "startDate": 2014
},
{
    "title": "[Composite](http://www.getcomposite.com/)",
    "subtitle": "An iPhone app for prototyping apps with photoshop, by Panes Software.",
    "startDate": 2013
},
{
    "title": "[TUNL-MNTN-WTER](http://stianj.com/skog/)",
    "subtitle": "WebGL demo made for Solskogen demo party 2013. Pronounced 'tunnel mountain water train'.",
    "startDate": 2013
},
{
    "title": "[Wikipendium.no](https://www.wikipendium.no/)",
    "subtitle": "Compendiums for university courses, that anyone can edit.",
    "startDate": "01. 2013",
    "endDate": "ongoing"
},
{
    "title": "Capra code challenge",
    "subtitle": "Capra consulting hosted a 24-hour hacking challenge where the goal was to develop a mobile-first application for TINE SA. Our solution was developed with django for backend using a REST API provided from TINE SA, and jquery-mobile for frontend.",
    "startDate": 2013
},
{
    "title": "BEKK Robocup",
    "subtitle": "Part of the winning team of BEKK RoboCup 2013. The contest involved programming Microsoft Kinect and LEGO Mindstorms.",
    "startDate": 2013
},
]
---


<div id="home" class=cv>
  <img src=/images/stiaje.jpg class=me>

  <div class=contact>
    <dl>
      <dt>Born:</dt>
      <dd>16.07.1991</dd>
      <dt>Address:</dt>
      <dd>Hans Nielsen Hauges Gate 6, 0481 Oslo</dd>
      <dt>Email:</dt>
      <dd><a href="mailto:me@stianj.com">me@stianj.com</a></dd>
      <dt>Phone:</dt>
      <dd>+47 482 72 582</dd>
      <dt>Github:</dt>
      <dd><a href="https://github.com/stianjensen/">@stianjensen</a></dd>
    </dl>
  </div>

  <div class=left>
    <h2>Experience</h2>
    <dl>
      {% for item in page.work %}
      <dt>
      {{ item.startDate }}
      {% if item.endDate %}
      – {{ item.endDate }}
      {% endif %}
      </dt>
      <dd>
      <strong>{{ item.title | markdownify }}</strong>
      <div>{{ item.subtitle | markdownify }}</div>
      </dd>{% endfor %}
    </dl>
    <h2>Projects</h2>
    <dl>
      {% for item in page.projects %}
      <dt>
      {{ item.startDate }}
      {% if item.endDate %}
      – {{ item.endDate }}
      {% endif %}
      </dt>
      <dd>
      <strong>{{ item.title | markdownify }}</strong>
      <div>{{ item.subtitle | markdownify }}</div>
      </dd>{% endfor %}
    </dl>
    <p><em>Full list of projects on <a href="http://stianj.com/">Stianj.com</a></em></p>
    <h2>Education</h2>
    <dl>
      {% for item in page.education %}
      <dt>
      {{ item.startDate }}
      {% if item.endDate %}
      – {{ item.endDate }}
      {% endif %}
      </dt>
      <dd>
      <strong>{{ item.title | markdownify }}</strong>
      <div>{{ item.subtitle | markdownify }}</div>
      </dd>{% endfor %}
    </dl>
  </div>
  <div class=right>
    <div class=box>
      <h3>Skills</h3>
      <ul>
        <li>Javascript (React, React Native, Webpack...)</li>
        <li>Node.js (Express.js, Mongoose...)</li>
        <li>Python (Django, Tornado)</li>
        <li>HTML</li>
        <li>CSS/SASS</li>
        <li>PHP</li>
        <li>iOS (Swift and Objective C)</li>
        <li>Rust</li>
        <li>Git</li>
        <li>Vim</li>
        <li>Linux / macOS</li>
        <li>AWS + Terraform</li>
        <li>WebGL / Web Audio API / WebRTC</li>
        <li>Bluetooth LE</li>
        <li>Photoshop</li>
      </ul>
    </div>
    <div class=box>
      <h3>References</h3>
      <p>Upon request</p>

    </div>
  </div>
</div>
