---
layout: base
---

<div class=header>
  <div class=inner-header>
    <a href="/cv/" class=cv-link>CV</a>
    <h1 class=title><a href="/">{{ site.name }}</a></h1>
  </div>
</div>

<div class=content>
  {{ content }}
</div>

<div class=footer>
  <div class=contact>
    <p>
    Stian Jensen<br />
    Software Developer<br />
    me@stianj.com
    </p>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/stiaje/" target="_blank" class="icon-twitter"></a>
    <a href="https://github.com/stianjensen/" target="_blank" class="icon-github"></a>
    <a href="https://instagram.com/stiaje/" target="_blank" class="icon-instagram"></a>
    <a href="https://www.linkedin.com/pub/stian-jensen/47/672/366" target="_blank" class="icon-linkedin"></a>
    <a href="https://facebook.com/stiaje" target="_blank" class="icon-facebook"></a>
    <a href="http://stiaje.tumblr.com/" target="_blank" class="icon-tumblr"></a>
    <a href="https://plus.google.com/108896626575864706598/" target="_blank" class="icon-googleplus"></a>
  </div>
</div>
